* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-title {
    width: 50vw;
    margin: 20vh auto 1vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-slide {
    width: 50vw;
    height: 50vh;
    background-color: black;
    margin: 1vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.container-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    width: 50vw;
    height: 50vh;
    transition: all 1s;
}

.item:first-child {
    margin-top: -50vh;
}

.item img {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.container-markers {
    position: absolute;
    z-index: 2;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker {
    background-color: rgb(255, 255, 255);
    width: 12px;
    height: 12px;
    margin: 6px;
    border: 1px solid black;
    border-radius: 50%;
    transition: all 1s;
}

.marker-on {
    background-color: rgb(0, 0, 0) !important;
}

.action-button {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50vh;
    color: transparent;
    user-select: none;
    z-index: 3;
}

.action-button:hover {
    color: white;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}